html. body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px auto 25px;
	grid-gap: 1px 1px;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.head {
	display: inline-grid;
	grid-auto-flow: column;
	align-self: start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.hleft {
		float: left;
	}
	.hright {
		float: right;
	}

.logo {
	margin: 20px;
}
.searchbar {
	width: 550px;
	height: 40px;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	border-style: none ;
	border-radius: 5px;
	margin: 5px;
}
.searchbtns {
	display: flex;
	justify-content: center;
	margin: 20px;
}
	.btn {
		padding: 10px 15px;
		margin: 10px;
		background-color:#f2f2f2;
		border-style: none;
		border-radius:3px;
		color: rgba(0,0,0,0.62);
		font-weight: bold;
	}
	.btn:hover {
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.23);
		color: rgba(0,0,0,0.87);
	}

a {
	color: rgba(0,0,0,0.87);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-decoration: none;
}
	a:hover {
		text-decoration: none;
	}

.material-icons {
	height: 14dp;
	opacity: 0.60;
}
.material-icons:hover {
	opacity: 0.80;
}

.foot {
	display: inline-grid;
	grid-auto-flow: row;
	background-color: #f2f2f2;	
	display: block;
    z-index: 10;
    position: relative; 
}
	.ftleft {
		float: left;
	}
	.ftright {
		float: right;
	}
